@media screen and (max-width:920px){
    html{
        font-size: 55%;
    }
    .header_image-bottom{
        // display:none;
    }
    .education_content--first{
        border-right: 0;
        border-bottom: 0.2rem solid $color-green;
        
    }
  }
  
  @media screen and (max-width:600px){
    html{
        font-size: 40%;
    }
    .header_image-bottom{
        // display:none;
    }

    .education_content--first{
        border-right: 0;
        border-bottom: 0.2rem solid $color-green;
        
    }
  }