
.navigation{

    position: fixed;
    margin-top: 25vh;
    z-index:1;
    
    ul{
        list-style: none;

        .nav-item{
            padding: 1.2rem;
            margin: 1.2rem;
            line-height: 150%;
            letter-spacing: 0.3rem;
            font-weight: 300;


            a{
                color: $color-primary-black;
                
                &:hover,
                &:active{
                    text-decoration: none; 
                    color: $color-green;
                }
            }
        }
    }
}